body {
	margin: 0;
	color: #171717;
	letter-spacing: -.005em;
	padding: 5vh 5% 5vh;	
}
 
.main-box {
	margin: 1vh auto;
	min-height: 70vh;
	padding-top: 5vh;
	padding-bottom: 100px;

	-webkit-box-shadow: 0px 0px 68px 16px rgba(242,242,242,1);
	-moz-box-shadow: 0px 0px 68px 16px rgba(242,242,242,1);
	box-shadow: 0px 0px 68px 16px rgba(242,242,242,1);
}

h1 {
	font-family: "Playfair Display", serif; 
	font-size: 42px;
	font-style: normal;
	padding-left: 125px;
}

.main-box p {
	font-family: 'latolight', sans-serif;
	font-size: 18px;
	line-height: 2.1;
	padding: 10px 125px;
}

.main-box p:nth-child(2) {
	padding-top: 0;
}

.main-box p:nth-child(2):first-letter {
	font-size: 95px;
	font-family: 'Playfair Display';
	float: left;
	line-height: 1em;
	margin-top: -10px;
	margin-bottom: 0;
	margin-right: 25px;
	position: relative;
}

.main-box blockquote {
	font-family: 'latolight', sans-serif;
	font-style: italic;
	font-size: 24px;
	padding-left: 90px;
	margin-bottom: 60px;
	line-height: 2.1;
}

.main-box blockquote:before {
	content: '\201c';
	/*content: '"';*/
	font-size: 40px;
	vertical-align: super;
	margin-right: 20px;
	line-height: 0;
}

.discover-btn {
	font-family: 'latobold', sans-serif;
	font-size: 18px;
	letter-spacing: .2em;
	color: #eaa258;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #eaa258;
	padding: 20px 71px; 
	margin: 40px 125px;
}

.discover-btn:hover {
	cursor: pointer;
}
.discover-btn:visited {
	color: #eaa258;
}